@font-face {
    font-family: 'Gilroy-Light';
    src: url("../fonts/10177-webfont.woff2") format('woff2'),
         url("../fonts/10177-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url("../fonts/10871-webfont.woff2") format('woff2'),
         url("../fonts/10871-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

a {
  text-decoration: none;
}

/* BTN */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-btn {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #f0c52e;
}

.main-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

/* MAIN HEADER */
.main-header {
  background-image: linear-gradient(#ffffff 19px, rgba(240, 197, 46, 0.5) 19px);
}

.main-header-site-search,
.main-header-user-menu-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.main-header-navigation-catalog-btn,
.main-header-site-menu-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}

.main-header-catalog-navigation-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.main-header-site-search:hover,
.main-header-site-search:focus {
  opacity: 0.6;
}

.main-header-user-menu-link:hover,
.main-header-user-menu-link:focus {
  opacity: 0.6;
}

.main-header-navigation-catalog-btn:hover,
.main-header-navigation-catalog-btn:focus {
  opacity: 0.6;
}

.main-header-site-menu-link:hover,
.main-header-site-menu-link:focus {
  opacity: 0.6;
}

.main-header-catalog-navigation-link:hover,
.main-header-catalog-navigation-link:focus {
  opacity: 0.6;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-site-search:active {
  opacity: 0.6;
}

.main-header-user-menu-link:active {
  opacity: 0.6;
}

.main-header-navigation-catalog-btn:active {
  opacity: 0.6;
}

.main-header-site-menu-link:active {
  opacity: 0.6;
}

.main-header-catalog-navigation-link:active {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-catalog-navigation,
.main-header-user-menu,
.main-header-site-menu {
  list-style: none;
}

/* PROMO */
.promo-item-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 0.47px;
  color: #000000;
}

.promo-item-list {
  list-style: none;
}

.promo-item-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.promo-item-button-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}

.promo-item-characteristics-name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.promo-item-characteristics-value {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

/* INDEX-CATALOG */
.main-catalog-item-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.main-catalog-list {
  list-style: none;
}

.main-catalog-item-link:hover,
.main-catalog-item-link:focus {}

.main-catalog-item-link:active {
  opacity: 0.3;
}

/* .main-catalog-item-link::before{
  content: "";
  width: 160px;
  height: 160px;
  background-color: rgba(94,77,18,0.5);
} */
/* SERVICES */
.services {
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services-item-list,
.services-article-list {
  list-style: none;
}

.services-button {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.services-button:hover,
.services-button:focus {
  background-color: #f0c52e;
}

.services-button:active {
  background-image: none;
  color: #f7e184;
  background-color: #000000;
}

.current .services-button {
  background-image: none;
  color: #f7e184;
  background-color: #000000;
}

.services-article-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}

.services-article-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/* BRANDS */
.main-brand-item-list {
  list-style: none;
}

.main-brand-link {
  opacity: 0.2;
  filter: grayscale(1);
}

.main-brand-link:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* ABOUT */
.main-info-title,
.main-contacts-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  /* letter-spacing: 3.6px; */
  color: #000000;
}

.main-info-text-about,
.main-info-text-delivery,
.main-contacts-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.main-info-text-list {
  list-style: none;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

/* FOOTER */
.main-footer {
  background-color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #464646;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.main-footer-user-menu,
.main-footer-site-menu,
.main-footer-social-list {
  list-style: none;
}

.main-footer-site-menu-link {
  background-color: #464646;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-footer-site-menu-link:hover,
.main-footer-site-menu-link:focus {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.main-footer-site-menu-link:active {
  opacity: 0.3;
}

.main-footer-user-menu-link {
  background-color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.7;
}

.main-footer-user-menu-link:hover,
.main-footer-user-menu-link:focus {
  opacity: 1;
}

.main-footer-user-menu-link:active {
  opacity: 0.3;
}

/* ------------------------------------------------------------------------------------ */
/* CATALOG*/
.catalog-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.current .breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.current .breadcrumbs-link:hover,
.current .breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item .current .breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* FILTERS */
.filters {
  background-color: rgba(0, 0, 0, 0.08);
}

.filters-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: #000000;
}

.filters-fieldset {
  border: none;
}

.filters-fieldset-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000000;
}

.filters-colors-list,
.filters-bluetooth-list {
  list-style: none;
}

.filters-colors-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

.filters-bluetooth-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

/* SORTING */
.sorting {
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: rgba(0, 0, 0, 1);
}

.current .sorting-link {
  color: rgba(0, 0, 0, 1);
}

/* CATALOG-ITEMS */
.catalog-items-list,
.catalog-pagination-list {
  list-style: none;
}

.catalog-items-item-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-items-item-link:hover,
.catalog-items-item-link:focus {
  opacity: 0.6;
}

.catalog-items-item-link:active {
  opacity: 0.3;
}

.catalog-items-item-price {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

.catalog-pagination-list {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-pagination-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination-link:active {
  color: rgba(0, 0, 0, 1);
}

.current .catalog-pagination-link {
  color: rgba(0, 0, 0, 1);
}

.catalog-pagination-link-direction {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 1);
  /* background-color: rgba(0, 0, 0, 0.08); */
}

.catalog-pagination-link-direction:hover,
.catalog-pagination-link-direction:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-pagination-link-direction:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
