@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/10177-webfont.woff2") format('woff2'),
    url("../fonts/10177-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/10871-webfont.woff2") format('woff2'),
    url("../fonts/10871-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/* ---------------------------------------------------------------------*/
/* body > * {
  background-color: rgba(255, 0, 0, 0.5);
}
body > * > * {
  background-color: rgba(255, 255, 0, 0.5);
}
body > * > * > * {
  background-color: rgba(0, 255, 0, 0.5);
} */
 /* body > * > * > * > * { */
  /* background-color: rgba(0, 0, 255, 0.5); */
/* ---------------------------------------------------------------------*/
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* BTN --------------------------------------------------------------------*/
button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-btn {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #f0c52e;
}

.main-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}

/* MAIN HEADER -----------------------------------------------------------------------*/
.main-header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#ffffff 19px, rgba(240, 197, 46, 0.5) 19px);
}

.main-header-column {
  width: 360px;
}

.main-navigation {
  width: 580px;
}

.main-header-site-search,
.main-header-user-menu-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.main-header-navigation-catalog-btn,
.main-header-site-menu-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}
.main-header-catalog-navigation{
  display: none;
}
.main-header-catalog-navigation-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.main-header-site-search:hover,
.main-header-site-search:focus {
  opacity: 0.6;
}

.main-header-user-menu-link:hover,
.main-header-user-menu-link:focus {
  opacity: 0.6;
}

.main-header-navigation-catalog-btn:hover,
.main-header-navigation-catalog-btn:focus {
  opacity: 0.6;
}

.main-header-site-menu-link:hover,
.main-header-site-menu-link:focus {
  opacity: 0.6;
}

.main-header-catalog-navigation-link:hover,
.main-header-catalog-navigation-link:focus {
  opacity: 0.6;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-site-search:active {
  opacity: 0.3;
}

.main-header-user-menu-link:active {
  opacity: 0.3;
}

.main-header-navigation-catalog-btn:active {
  opacity: 0.3;
}

.main-header-site-menu-link:active {
  opacity: 0.3;
}

.main-header-catalog-navigation-link:active {
  opacity: 0.3;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-catalog-navigation,
.main-header-user-menu,
.main-header-site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* PROMO -------------------------------------------------------------------------- */
.promo-item {
  display: none;
  justify-content: space-between;
}
.promo-item-1{
  display: flex;
}
.promo-column-right {
  width: 560px;
}

.promo-column-left {
  width: 580px;
}

.promo-item-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 0.47px;
  color: #000000;
}

.promo-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.promo-item-button-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}

.promo-item-characteristics-name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.promo-item-characteristics-value {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

/* INDEX-CATALOG --------------------------------------------------------------------*/
.main-catalog{
  padding: 86px 0;
}
.main-catalog-item-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.main-catalog-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-catalog-item {
  width: 160px;
}

.main-catalog-item-link:hover,
.main-catalog-item-link:focus {}

.main-catalog-item-link:active {
  opacity: 0.3;
}

/* .main-catalog-item-link::before{
  content: "";
  width: 160px;
  height: 160px;
  background-color: rgba(94,77,18,0.5);
} */
/* SERVICES ------------------------------------------------------------------------*/
.services {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 148px;
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-item-list {
  width: 320px;
}

.services-article-list {
  width: 720px;
}
.services-article{
  display: none;
}
.services-article.current{
  display: block;
}
.services-item-list,
.services-article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-button {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.services-button:hover,
.services-button:focus {
  background-color: #f0c52e;
}

.services-button:active {
  background-image: none;
  color: #f7e184;
  background-color: #000000;
}

.current .services-button {
  background-image: none;
  color: #f7e184;
  background-color: #000000;
}

.services-article-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #000000;
}

.services-article-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/* BRANDS ----------------------------------------------------------------*/
.main-brand-section{
  padding-top: 95px;
  padding-bottom: 93px;
}
.main-brand-item-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-brand-item {
  width: 260px;
}

.main-brand-link {
  opacity: 0.2;
  filter: grayscale(1);
}

.main-brand-link:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* ABOUT ---------------------------------------------------------------------------*/
.main-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info-text {
  width: 500px;
}

.main-info-contacts {
  width: 580px;
}

.main-info-title,
.main-contacts-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  /* letter-spacing: 3.6px; */
  color: #000000;
}

.main-info-text-about,
.main-info-text-delivery,
.main-contacts-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.main-info-text-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

/* FOOTER -------------------------------------------------------------------------*/
.main-footer {
  background-color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #464646;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-footer-line {
  display: flex;
  justify-content: space-between;
}

.main-footer-user-menu,
.main-footer-site-menu,
.main-footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer-site-menu-link {
  background-color: #464646;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  opacity: 0.6;
}

.main-footer-site-menu-link:hover,
.main-footer-site-menu-link:focus {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}

.main-footer-site-menu-link:active {
  opacity: 0.3;
}

.main-footer-user-menu-link {
  background-color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.7;
}

.main-footer-user-menu-link:hover,
.main-footer-user-menu-link:focus {
  opacity: 1;
}

.main-footer-user-menu-link:active {
  opacity: 0.3;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* CATALOG ----------------------------------------------------------------------------*/
.catalog-title {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.current .breadcrumbs-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.current .breadcrumbs-link:hover,
.current .breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item .current .breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* CATALOG ------------------------------------------------------------*/
/* .catalog-background{
  background-color: rgba(0, 0, 0, 0.08);
} */
.catalog-wrapper {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  /* background-color: #ffffff; */
}

/* FILTERS --------------------------------------------------------------------*/
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  width: calc(50% - 252px);
  /* width: 50%; */
  background-color: rgba(0, 0, 0, 0.08);
}

.filters-title-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* align-self: flex-start; */
  /* width: 330px; */
  /* text-align: right;
   */
  background-color: rgba(0, 0, 0, 0.08);
}

.filters-title {
  width: 268px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 24px;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: #000000;
}
.filters-form-box{
  padding-top: 69px;
  padding-right: 68px;
}
.filters-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 260px;
  padding: 0;
  margin: 0;
}
.filters-fieldset-box{
  width: 201px;
  padding-top: 16px;
  border-top: 2px solid;
}
.filters-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filters-fieldset-title {
  padding: 0;
  margin: 0;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000000;
}

.filters-colors-list,
.filters-bluetooth-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-colors-text {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

.filters-bluetooth-text {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

/* SORTING --------------------------------------------------------------------*/
.sorting {

  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.sorting-wrapper{
  display: flex;
  justify-content: space-between;
  width: 760px;
}
.sorting-title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: #000000;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 560px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sorting-arrows{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sorting-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: rgba(0, 0, 0, 1);
}

.current .sorting-link {
  color: rgba(0, 0, 0, 1);
}

/* CATALOG-ITEMS -------------------------------------------------------------*/
.catalog-items-items {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  width: calc(50% + 252px);
  /* width: 50%; */
}

.catalog-items-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.catalog-items-item {
  width: 360px;
}

.catalog-items-item-image,
.catalog-items-item-text {
  margin: 0;
  padding: 0;
}

.catalog-items-list,
.catalog-pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-items-item-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-items-item-link:hover,
.catalog-items-item-link:focus {
  opacity: 0.6;
}

.catalog-items-item-link:active {
  opacity: 0.3;
}

.catalog-items-item-price {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

.catalog-pagination-list {
  display: flex;
  justify-content: space-between;
  /* width: 760px; */
  list-style: none;
  margin: 0;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-pagination-link {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination-link:active {
  color: rgba(0, 0, 0, 1);
}

.current .catalog-pagination-link {
  color: rgba(0, 0, 0, 1);
}

.catalog-pagination-link-direction {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 1);
  /* background-color: rgba(0, 0, 0, 0.08); */
}

.catalog-pagination-link-direction:hover,
.catalog-pagination-link-direction:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-pagination-link-direction:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
/* popup------------------------------------------------------------------------------ */
.map-popup,
.feedback-popup{
  display: none;
}
